# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data scientists
- List the data science tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. ggplot2

| Data Science Tools | 
| -------- |
| Rstudio |
| Jupyter |
| VSCode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [5]:
 # This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
nbk